<div class="card">
    <div class="card-header d-flex">
        <div class="card-title flex-grow-1 d-flex justify-content-between align-items-center">
            <h5 class="modal-title d-flex align-items-center">
                <i class="bi bi-person-lines-fill fs-3 me-2"></i> Sửa Thông Tin Giảm Giá
            </h5>
        </div>
    </div>
    <div class="card-body">
        <form action="/manager/<%=hotel._id%>/discount/edit-handler/<%= discount._id %>" method="POST" class="d-flex flex-column">
            <div class="">
                <div class="mb-3">
                    <label class="form-label ">Tên giảm giá</label>
                    <input  class="form-control shadow-none" name="tengiamgia" value="<%= discount.name %>" type="text" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phòng</label>
                    <select class="form-control form-select mr-sm-2" name="phong"  required >
                        <%for( let type_room of type_rooms  ) { %>
                        <option   value="<%= type_room._id %>" <%= discount.type_room._id.toString() == type_room._id.toString() ? "selected" : "" %> >
                            <%= type_room.name %>
                        </option>
                        <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phần trăm giảm giá</label>
                    <input  class="form-control shadow-none" name="phantram" type="number" value="<%= discount.discount_percent %>"  required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ngày bắt đầu</label>
                    <input  class="form-control shadow-none" name="ngaydau" type="datetime-local" value="<%= discount.date_start.toISOString().slice(0, 16) %>"  required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ngày kết thúc</label>
                    <input  class="form-control shadow-none" name="ngayket" type="datetime-local" value="<%= discount.date_end.toISOString().slice(0, 16) %>"  required>
                </div>
            </div>
            <div class="text-center my-1">
                <div class="d-flex justify-content-center gap-4">
                    <a class="btn btn-warning shadow-none" href="/manager/<%=hotel._id%>/discount">
                        Trở về
                    </a>
                    <button class="btn btn-dark shadow-none" type="submit" name="">
                        Sửa sự kiện
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>


