<div class="card">
      <div class="card-header d-flex">
        <div class="card-title flex-grow-1 d-flex justify-content-between align-items-center">
            <h3>Đánh giá</h3>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>STT</th>
              <th>Hotel </th>
              <th>Tên khách hàng </th>
              <th>Tổng điểm</th>
              <th>Bình luận</th>
              <th>Ngày bình luận</th>
              <th>Quản lý</th>
            </tr>
          </thead>
          <tbody>
            <% var i=1; %>
            <% for(let review of reviews){ %>
            <tr>
              <td><%= i++ %></td>
              <td><%=review.room.hotel.name%></td></td>
              <td><%= review.customer.name %></td>
              <td><%= Math.floor((review.employeeScore + 
                review.sactificationScore + 
                review.wifiScore + 
                review.comfortScore + 
                review.moneyScore + 
                review.cleanlinessScore)/6)/10 %></td>
              <td><%= review.comment %></td>
              <td></td>
              <td>
                <a href="/manager/<%=hotel._id%>/review/<%=review._id %>"  class="btn btn-success">Xem chi tiết</a >              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>