<div class="container">
  <div class="row">
    <div class="col-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Thông tin đặt phòng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Số phòng: 
              <ul>
                <% details.forEach(function(detail) { %>
                  <li><%= detail.room.number_room %></li>
                <% }) %>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Ngày đặt phòng: <%= details[0]?.NowDate.toLocaleString() %></td>
          </tr>
          <tr>
            <td>Ngày nhận phòng: <%= booking.check_in.toLocaleString() %></td>
          </tr>
          <tr>
            <td>Ngày trả: <%= booking.check_out.toLocaleString() %></td>
          </tr>
          <tr>
            <td>Tổng giá tiền đặt phòng: <%= parseInt(booking.total_price).toLocaleString('it-IT', {style : 'currency' , currency : 'VND' }) %></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col">

    </div>
    <div class="col-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Thông tin khách hàng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= booking.customer.name %>
            </td>
          </tr>
          <tr>
            <td>SĐT: <%= booking.customer.phone %>
            </td>
          </tr>
          <tr>
            <td>Email: <%= booking.customer.email %>
            </td>
          </tr>
          <tr>
            <td>CCCD: <%= booking.customer_identify_number %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col">
      <a href="/manager/<%=hotel._id%>/booking/status_booking/<%=id%>/add" class="btn btn-dark">Thêm đặt phòng</a>
    </div>
    <!-- <div style="color: blue; font-weight: bold ;">Đã thanh toán online: <%=  parseInt(booking.total_price).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></div> -->
  </div>

  <div class="row">
    <div class="col-7">
      <div class="pd-5">
        <a style="color: red" href="/manager/<%=hotel._id%>/booking/status_booking/<%=id%>/service_hotel">Chọn dịch vụ
          khách sạn khách sử dụng</a>

      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="c-bg-primary">Loại dịch vụ</th>
            <th class="c-bg-primary">Giá dịch vụ</th>
            <th class="c-bg-primary">Số lượng</th>
            <th class="c-bg-primary">Tiền</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(service_quantity of service_quantitys) {%>
            <tr>
              <td>
                <%=service_quantity.service_hotel.name %>
              </td>
              <td><%=parseInt(service_quantity.service_hotel.price).toLocaleString('it-IT', {style: 'currency' ,
                  currency: 'VND' }) %></td>
              <td>
                <%=service_quantity.quatity %>
              </td>
              <td>
                <%= (parseInt(service_quantity.service_hotel.price) * service_quantity.quatity).toLocaleString('it-IT',
                  {style: 'currency' , currency: 'VND' }) %>
              </td>
              <td>
                <button
                  onclick="deleteConfirmButtonClk('/manager/<%=hotel._id%>/booking/status_booking/<%=id%>/service_hotel/delete/<%=service_quantity._id %>','Bạn có muốn xóa thông tin dịch vụ này không?')"
                  class="btn btn-danger">Xóa</button>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>

    <div class="col-5"></div>
  </div>

  <form action="/manager/<%=hotel._id%>/booking/status_booking/<%=id%>" method="POST">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="status" id="CheckedIn" value="Đã nhận phòng" checked>
      <label class="form-check-label" for="CheckedIn">
        Đã nhận phòng
      </label>
    </div>
    <div class="form-check ">
      <input class="form-check-input" type="radio" name="status" id="CheckedOut" value="Đã trả phòng">
      <label class="form-check-label" for="CheckedOut">
        Đã trả phòng
      </label>
    </div>
    <div class="form-check ">
      <input class="form-check-input" type="radio" name="status" id="cancel" value="cancel">
      <label class="form-check-label" for="cancel">
        Đã hủy
      </label>
    </div>
    <div>
      <a class="btn btn-warning shadow-none" href="/manager/<%=hotel._id%>/booking">
        Trở về
      </a>
      <button class="btn btn-primary">Sửa trạng thái</button>
    </div>

  </form>

</div>