<div class="card">
      <div class="card-header d-flex">
        <div class="card-title flex-grow-1 d-flex justify-content-between align-items-center">
            <h3>Quản lý phòng đang hoạt động</h3>
            <a href="/sub/<%=hotel._id%>/room/add" class="btn btn-dark">Thêm</a>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>STT</th>
              <th>Số phòng</th>
              <th>Tên phòng</th>
              <th>Loại phòng</th>
              <th>Giá phòng</th>
              <th>Tình trạng</th>
              <th>Quản lý</th>
            </tr>
          </thead>
          <tbody>
            <% var i=1; %>
            <% for(let room of rooms){ %>
            <tr>
              <td><%= i++ %></td>
              <td><%= room.number_room %></td>
              <td><%= room.name %></td>
              <td><%= room.type_room.name %></td>
              <td><%= parseInt(room.original_price  ).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></td>
              <td><%= room.status %></td>
              <td>
                <a href="/sub/<%=hotel._id%>/room/detail/<%=room._id %>"  class="btn btn-success">Xem chi tiết</a >
                <a href="/sub/<%=hotel._id%>/room/edit/<%=room._id %>"  class="btn btn-primary">Sửa</a >
                <button  onclick="deleteConfirmButtonClk('/sub/<%=hotel._id%>/room/delete/<%=room._id %>','Bạn có muốn xóa thông tin phòng này không?')" class="btn btn-danger">Xóa</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>