<div class="card">
    <div class="card-header d-flex">
        <div class="card-title flex-grow-1 d-flex justify-content-between align-items-center">
            <h5 class="modal-title d-flex align-items-center">
                <i class="bi bi-person-lines-fill fs-3 me-2"></i> Sửa Thông Tin Phòng
            </h5>
        </div>
    </div>
    <div class="card-body">

        <form action="/manager/<%=hotel._id%>/roomfix/edit-handler/<%= roomfix._id %>" enctype="multipart/form-data" method="POST" class="d-flex flex-column">
            <div class="d-flex ">
                <div class="flex-grow-1 me-3">
                    <div class="mb-3">
                        <label class="form-label ">Số phòng</label>
                        <input class="form-control shadow-none" name="sophong" type="text" value="<%= room.number_room%>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tên phòng</label>
                        <input class="form-control shadow-none" name="tenphong" type="text" value="<%= room.name%>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Loại phòng</label>
                        <select class="form-select shadow-none" name="loaiphong" type="text" required>
                            <% for (type of typeRooms) {%>
                                <option value="<%= type._id %>" <%= room.type_room._id.toString() == type._id.toString() ? "selected" : "" %>>
                                    <%= type.name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Lý do tạm ngưng</label>
                        <input class="form-control shadow-none" name="lydo" type="text" value="<%= room.original_price%>" required>
                    </div>
                </div>

               
            <div class="text-center my-1">
                <div class="d-flex justify-content-center gap-4">
                    <a class="btn btn-warning shadow-none" href="/manager/<%=hotel._id%>/roomfix">
                        Trở về
                    </a>
                    <button class="btn btn-dark shadow-none" type="submit" name="">
                        Sửa thông tin
                    </button>
                </div>
                
            </div>
        </form>
    </div>

</div>


