<div id="featured-hotel" class="fh5co-bg-color">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Khách sạn nổi bật ở <%=city.name%></h2>
                </div>
            </div>
        </div>

        <!-- Search Form -->
        <div class="row">
            <div class="col-md-12">
                <form action="" method="GET" class="form-inline text-center">
                    <div class="form-group" style="display: flex; align-items: center; height: 100%">
                        <input style="padding: 28px; line-height: 30px; flex: 1; margin-right: 12px;" type="text" name="name" class="form-control" placeholder="Tìm khách sạn theo tên" value="<%= typeof name !== 'undefined' ? name : '' %>">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Hotel Listings -->
        <div class="row" style="margin-top: 20px;">
            <% if (hotels.length === 0) { %>
                <h3 style="text-align: center;">Không có khách sạn ở thành phố <%= city.name %></h3>
            <% } else { %>
                <% hotels.forEach((hotel, index) => { %>
                    <div class="col-md-6">
                        <div class="image" style="background-image: url('<%=hotel.image%>'); height: 200px; background-size: cover; background-position: center;">
                            <div class="descrip text-center">
                                <p><small>Giá chỉ từ </small><span><%=getPriceOfHotel(hotel)%>/đêm</span></p>
                            </div>
                        </div>
                        <div class="desc" style="background-color: #fff; padding: 15px; margin-bottom: 20px;">
                            <h3><%=hotel.name%></h3>
                            <p><%=hotel.description%></p>
                            <p><a href="/hotel/<%=hotel._id%>/room" class="btn btn-primary btn-luxe-primary">Đặt ngay <i class="ti-angle-right"></i></a></p>
                        </div>
                    </div>
                    <% if ((index + 1) % 2 === 0) { %>
                        </div><div class="row">
                    <% } %>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>
