<div class="container">
  <form action="/sub/<%=hotel._id%>/booking/status_booking/<%=id%>" method="POST">
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Thông tin đặt phòng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Số phòng:
              <% details.forEach(function(detail) { %>
                <span style="margin-right: 10px;">
                  <%= detail.room.number_room %>
                </span>
                <% }) %>
            </td>
          </tr>
          <tr>
            <td>Ngày đặt phòng: <%= details[0]?.NowDate.toLocaleString() %>
            </td>
          </tr>
          <tr>
            <td>Ngày nhận phòng: <%= booking.check_in.toLocaleString() %>
            </td>
          </tr>
          <tr>
            <td>Ngày trả: <%= booking.check_out.toLocaleString() %>
            </td>
          </tr>
          <% let totalOriginalPrice=0; let totalDiscountPrice=0; details.forEach(function(detail) { totalOriginalPrice
            +=parseInt(detail.original_price); totalDiscountPrice +=parseInt(detail.discount_price); }); %>
            <tr>
              <td>Tổng tiền gốc:
                <%= totalOriginalPrice.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
              </td>
            </tr>
            <tr>
              <td>Tổng tiền đã giảm giá:
                <%= (totalDiscountPrice * -1).toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
              </td>
            </tr>
            <tr>
              <td>Tiền đã thanh toán trên web:
                <%= parseInt(booking.total_price).toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
              </td>
            </tr>
        </tbody>
      </table>

    </div>
    <div class="col"></div>
    <div class="col-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Thông tin khách hàng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= booking.customer.name %>
            </td>
          </tr>
          <tr>
            <td>SĐT: <%= booking.customer.phone %>
            </td>
          </tr>
          <tr>
            <td>Email: <%= booking.customer.email %>
            </td>
          </tr>
          <tr>
            <td>CCCD: <%= booking.customer_identify_number %>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="/sub/<%=hotel._id%>/booking/status_booking/<%=id%>/kiemtra" class="btn btn-dark">Kiểm tra danh sách phòng trống</a>
      <a href="/sub/<%=hotel._id%>/booking/status_booking/<%=id%>/add" class="btn btn-dark">Thêm đặt phòng</a>
    </div>
    <!-- <div style="color: blue; font-weight: bold ;">Đã thanh toán online: <%=  parseInt(booking.total_price).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></div> -->
  </div>
  <div class="row">
    <div>Lưu ý: Nếu ngày trả phòng sớm hơn ngày checkout đã đặt, khách hàng phải trả tiền = ( tiền phòng * số ngày ) + (tiền phòng * 30%)</div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <label class="form-label">Ngày trả phòng thực tế</label>
        <input class="form-control shadow-none" 
               id="ngaytraphong" 
               name="ngaytraphong" 
               value="<%= final ? final.NowDate.toISOString().slice(0, 16) : '' %>" 
               type="datetime-local" 
               data-check-in="<%= booking.check_in %>" 
               data-check-out="<%= booking.check_out %>"
               data-total-price="<%= booking.total_price %>" 
               data-details='<%= JSON.stringify(details) %>'>
      </div>
      
    </div>
    <div class="col-8">
      <label class="form-label"></label>
      <div style="margin-top: 11px;">
        Tiền thực tế phải trả: 
        <input readonly type="text" name="thuctephaitra" value="<%= final ? final.tienthucte : '0 VND' %>" id="thuctephaitra" >
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="pd-5">
        <a style="color: red;font-weight: bold;"
          href="/sub/<%=hotel._id%>/booking/status_booking/<%=id%>/service_hotel">Chọn dịch vụ
          khách sạn khách sử dụng</a>

      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="c-bg-primary">Loại dịch vụ</th>
            <th class="c-bg-primary">Giá dịch vụ</th>
            <th class="c-bg-primary">Số lượng</th>
            <th class="c-bg-primary">Tiền</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% let totalServicePrice=0; %> <!-- Khởi tạo biến tổng tiền -->
            <% for (service_quantity of service_quantitys) { %>
              <tr>
                <td>
                  <%= service_quantity.service_hotel.name %>
                </td>
                <td>
                  <%= parseInt(service_quantity.service_hotel.price).toLocaleString('it-IT', { style: 'currency' ,
                    currency: 'VND' }) %>
                </td>
                <td>
                  <%= service_quantity.quatity %>
                </td>
                <td>
                  <% let servicePrice=parseInt(service_quantity.service_hotel.price) * service_quantity.quatity;
                    totalServicePrice +=servicePrice; // Cộng dồn vào tổng tiền %>
                    <%= servicePrice.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
                </td>
                <td>
                  <% if (booking.status !== 'Đã trả phòng') { %> <!-- Check booking status -->
                      <button
                          onclick="deleteConfirmButtonClk('/sub/<%= hotel._id %>/booking/status_booking/<%= id %>/service_hotel/delete/<%= service_quantity._id %>','Bạn có muốn xóa thông tin dịch vụ này không?')"
                          class="btn btn-danger">Xóa</button>
                  <% } %>
              </td>
              </tr>
              <% } %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-right"><strong>Tổng tiền dịch vụ</strong></td>
            <td colspan="2">
              <%= totalServicePrice.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="col-5" style="margin-top: 24px;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="c-bg-primary"></th>
            <th class="c-bg-primary">Tiền</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Đã thanh toán trên web
            </td>
            <td>
              <div id="thanhtoantrenweb">
                <%= parseInt(booking.total_price).toLocaleString('it-IT', {style : 'currency' , currency : 'VND' }) %>
              </div>
            </td>
          </tr>
          <tr>
            <td>Tiền ở thực tế:</td>
            <td>
              <input readonly type="text" name="tienthucte" value="<%= final ? final.tienthucte : '0 VND' %>" id="tienthucte" >
            </td>
          </tr>
          <tr>
            <td>Tiền dịch vụ</td>
            <td>
              <div id="tiendichvu">
                <%= totalServicePrice.toLocaleString('it-IT', { style: 'currency' , currency: 'VND' }) %>
              </div>
            </td>
          </tr>
          <tr>
            <td id="tongthanhtoan">Tổng thanh toán</td>
            <td>
              <input readonly type="text" 
              value="<%= final ? final.final_price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }) : '' %>" 
              name="final_price" 
              id="final_price">
            </td>
          </tr>
          <tr>
            <td id="">Người xử lý giao dịch</td>
            <td>
              <input name="process_user"  hidden value="<%= user._id %>"><div><%= user.name %></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  <div id="statusSection" style="<%= booking.status === 'Đã trả phòng' ? 'display: none;' : '' %>">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="status" id="CheckedIn" value="Đã nhận phòng" 
             <%= booking.status === 'Đã nhận phòng' ? 'checked' : '' %>>
      <label class="form-check-label" for="CheckedIn">
        Đã nhận phòng
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="status" id="CheckedOut" value="Đã trả phòng" 
             <%= booking.status === 'Đã trả phòng' ? 'checked' : '' %>>
      <label class="form-check-label" for="CheckedOut">
        Đã trả phòng
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="status" id="cancel" value="Đã hủy" 
             <%= booking.status === 'Đã hủy' ? 'checked' : '' %>>
      <label class="form-check-label" for="cancel">
        Đã hủy
      </label>
    </div>
    <div>
      <a class="btn btn-warning shadow-none" href="/sub/<%=hotel._id%>/booking">
        Trở về
      </a>
      <button class="btn btn-primary">Sửa trạng thái</button>
    </div>
  </div>
  

  </form>

</div>

<script>
  window.onload = function () {
    document.getElementById('ngaytraphong').addEventListener('change', function () {
      const ngayTraPhong = new Date(this.value);
      const checkIn = new Date(this.getAttribute('data-check-in'));
      const checkOut = new Date(this.getAttribute('data-check-out'));
      const details = JSON.parse(this.getAttribute('data-details'));

      let totalActualPayment = 0;

      details.forEach(function (detail) {
        const originalPrice = parseInt(detail.original_price);
        const discount = Math.abs(parseFloat(detail.discount_price / detail.original_price)); // Tính phần trăm giảm giá
        let numberOfDaysStayed = 0;

        // Tính số ngày đã ở
        if (ngayTraPhong.getTime() === checkOut.getTime()) {
          numberOfDaysStayed = Math.floor((checkOut - checkIn) / (86400 * 1000));
        } else if (ngayTraPhong.getTime() < checkOut.getTime()) {
          numberOfDaysStayed = Math.floor((ngayTraPhong - checkIn) / (86400 * 1000));
        } else {
          numberOfDaysStayed = Math.floor((ngayTraPhong - checkIn) / (86400 * 1000));
        }

        // Tính tiền thực tế sau khi áp dụng giảm giá
        const discountedPrice = originalPrice - (originalPrice * discount);
        let actualPayment = discountedPrice * numberOfDaysStayed;

        // Thêm chi phí nếu ngay trả phòng < ngày checkout
        if (ngayTraPhong.getTime() < checkOut.getTime()) {
          actualPayment += (originalPrice * 0.3);
        }

        totalActualPayment += actualPayment;
      });
      // Cập nhật hiển thị số tiền thực tế phải trả

      document.getElementById('thuctephaitra').value = totalActualPayment.toLocaleString('it-IT', {
        style: 'currency',
        currency: 'VND'
      });
      // Cập nhật giá trị vào <div id="tienthucte"></div>
      const actualPaymentDiv = document.getElementById('tienthucte');
      actualPaymentDiv.value = totalActualPayment.toLocaleString('it-IT', {
        style: 'currency',
        currency: 'VND'
      });

      // Tính toán final_price
      const thanhtoantrenweb = parseInt(document.getElementById('thanhtoantrenweb').innerText.replace(/[^\d]/g, ''));
      const tienthucte = totalActualPayment; // Giá trị thực tế đã tính
      const tiendichvu = parseInt(document.getElementById('tiendichvu').innerText.replace(/[^\d]/g, '')); // Tiền dịch vụ

      let final_price = 0;
      let finalLabel = "Tổng thanh toán"; // Mặc định là "Tổng thanh toán"
      let tien = 0;

      if (thanhtoantrenweb > tienthucte) {
        tien = (thanhtoantrenweb - tienthucte);
        final_price = -tien + tiendichvu;
      } else {
        final_price = (tienthucte - thanhtoantrenweb) + tiendichvu;
      }

      // Cập nhật tiêu đề dòng tổng thanh toán
      if (final_price > 0) {
        finalLabel = "Tiền khách phải trả";
      } else if (final_price < 0) {
        finalLabel = "Hoàn lại cho khách";
      }

      // Cập nhật nội dung của final_price
      document.getElementById('final_price').value = final_price.toLocaleString('it-IT', {
        style: 'currency',
        currency: 'VND'
      });

      // Cập nhật dòng tiêu đề cho tổng thanh toán
      document.getElementById('tongthanhtoan').textContent = finalLabel; // Update here
    });
  };
</script>