<style>
    .two-line-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
</style>
<div class="card">
    <div class="card-header d-flex">
      <div class="card-title flex-grow-1 d-flex justify-content-between align-items-center">
          <h3>Quản lý các địa điểm khách sạn</h3>
          <a href="/administrator/city/add" class="btn btn-dark">Thêm</a>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="datatable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên thành phố</th>
            <th>Hình ảnh </th>
            <th>Quản lý </th>
          </tr>
        </thead>
        <tbody>
          <% var i=1; %>
          <% for(let city of citys){ %>
          <tr>
            <td><%= i++ %></td>
            <td><%= city.name %></td>
            <td><img style="width: 100px; height: 100px; object-fit: cover;" src="<%= city.image %>" alt="Place"></td>
            <td>
                <a href="/administrator/city/edit/<%=city._id %>"  class="btn btn-primary">Sửa</a >
                <button  onclick="deleteConfirmButtonClk('/administrator/city/delete/<%=city._id %>','Bạn có muốn xóa thông tin địa điểm này không?')" class="btn btn-danger">Xóa</button>
              </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>